parameters:
	ignoreErrors:
		-
			message: '#^Offset ''pdf_file'' on array\{rentencheck\: App\\Models\\Rentencheck, pdf_file\: App\\Models\\File\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: app/Http/Controllers/Api/RentencheckController.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\AdvisorResource\:\:\$completed_rentenchecks_count\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/AdvisorResource.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Support\\Carbon\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/PensionSettingResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/File.php

		-
			message: '#^Anonymous function should return Illuminate\\Support\\Collection\<int, array\{id\: mixed, key\: mixed, value\: mixed, unit\: mixed, description\: mixed, description_de\: mixed, formatted_value\: non\-falsy\-string\}\> but returns Illuminate\\Support\\Collection\<int, array\{id\: mixed, key\: mixed, value\: mixed, unit\: mixed, description\: mixed, description_de\: mixed, formatted_value\: non\-falsy\-string\}\>\.$#'
			identifier: return.type
			count: 1
			path: app/Repositories/PensionSettingRepository.php

		-
			message: '#^Using nullsafe property access "\?\-\>value" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 16
			path: app/Repositories/PensionSettingRepository.php

		-
			message: '#^Instanceof between Laravel\\Sanctum\\PersonalAccessToken and Laravel\\Sanctum\\PersonalAccessToken will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: app/Actions/Auth/LogoutAction.php
